*,
*:before,
*:after {
	box-sizing: border-box;
}

#form-container{
	/*background: blue;*/
	float:left;
}

#form-container div{
	display: inline-block;
}

#avatar-container{
	display: inline-block;
	float:right;
	/*margin-left: 40px;*/
	margin: 0 auto;
	width: 240px;
	height: 320px;
	/*background-color: green;*/
}

#preview-avatar{
	border-radius: 5px;
	width: 240px;
	height: 320px;
}

#id_about, #id_review{
	width: 180px;
	height: 100px;
}

/*Este es igual que posters-container*/
#register-container{
	margin: 0 auto;
	/*border: 1px solid red;*/
	width: 80%;
	min-height: 600px;
	/*overflow: hidden;*/
	/*background-color: orange;*/

}

#orientation{
	clear:both;
	height: 40px;
}

#orientation h2{
	font-size: 20px;
}

input[type="text"]{
	height: 30px;
	border-radius: 3px;
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 15px;
}