*{
	margin: 0;
	padding: 0;
}

.img-big{
	width: 150px;
	height: 200px;
}
.img-poster-holder{
	display: inline-block;
/*	margin: 0 1px 1px 1px;
*/	float: left;
}

.img-content{
/*	text-align: center;
*/	margin-left: auto;
	margin-right: auto;
}

img{
	border-radius: 5px;
}