*{
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #DAC9D1;
}

a:link, a:hover, a:visited{
	color: rgb(224, 79, 17);
	text-decoration: none;
}

/* =======================================
	Menu
   ======================================= */

#header{
	margin: 0 auto;
	width: 640px;
	height: 60px;
	background: #111;
	/*border: 1px red solid;*/
	border-radius: 15px 15px 0 0;
}

#fronton{
	margin: 0 auto;
	/*border: 1px red solid;*/
	display: block;
	width: 600px;
	/*background-color: olive;*/
	overflow: hidden;
}

.title{
	margin: 0 auto;
	/*border: 1px red solid;*/
	font: 30px Helvetica, sans-serif;	
	font-weight: bolder;
	color: #ddd;
	display: inline-block;
	float: left;
}

#social-icons{
	margin: 0 auto;
	/*border: 1px red solid;*/
	display: inline-block;
	margin-top: 5px;
	float: right;
	margin-right:30px;
}
#menu-container{
	/*border: 1px red solid;*/
	margin: 0 auto;
	/*display: inline-block;*/
	/*overflow: hidden;*/
	width: 600px;
	height: 20px;
}
.menu-element{
	border-radius: 2px 10px 0 0;
	text-align: left;
	position:relative;
}
#menu-peliculas{
	width: 25%;
	float:left;
}
#menu-perfil{
	width: 25%;	
	float:left;	
}
#menu-camaradas{
	width: 25%;
	float:left;
}
#menu-reco{
	width: 25%;
	float:left;
}
	.sub{
		display: none;
		width: 100%;
		float:left;
		border-radius: 0 0 5px 5px;
		position:absolute;
	}

#submenu0{
	background: #111;
	width:100%;
}
#submenu1{
	background: #111;
	width:100%;
}
#submenu2{
	background: #111;
	width:100%;
}
#submenu3{
	background: #111;
	width:100%;
}

#content-container{
	/*overflow: hidden;*/
	margin: 0 auto;
	margin-top: 0;
	width: 640px;
	min-height: 600px;
	background-color: #fff;
}

#content-container p{
	margin-top: 0;
	/*padding-left: 0.5em;*/
	/*margin-left: 20px;*/
	/*display: inline-block;*/
}

.icon-social{
	padding-left: 0.3em;	
	display: inline-block;
}

.icon-social img{
	border-radius:0 30% 0 0;
	height: 25px;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
}

#title-holder{
	display: inline-block;
}

#social-icons{
	height: 30px;
	/*display: table-cell;*/
	vertical-align: middle;
	/*float: right;*/
	/*border-style: solid;*/
}