*{
	margin: 0;
	padding: 0;
}
body{
	background: #111;
	font-family: sans-serif;
	color: #ddd;
}
#header{
	margin-left: auto;
	margin-right: auto;
	border-style: dotted;
}
.title{
	text-align: center;
}
.menu li{
	display: inline;
	list-style-type: none;
}
.menu-element{
	padding-left: 5px;
	padding-right: 5px;
}
#menu-inicio{
	background: rgb(71, 158, 209);
	height: 30px;
	width: 100px;
}
#menu-peliculas{
	background: rgb(64, 201, 52);
	height: 30px;
	width: 100px;
float:left;
margin-right: 100px;
}
#menu-perfil{
	background: rgb(237, 191, 42);
	height: 30px;
	width: 105px;
	display: inline-block;

}
#menu-camaradas{
	background: rgb(234, 71, 42);
	height: 30px;
	width: 100px;
	display: inline-block;

}

#content-container{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}