*{
	margin: 0;
	padding: 0;
}
body{
	background: #111;
	color: #ddd;
	font-family: sans-serif;
}
a:link, a:hover, a:visited{
	color: #ddd;
}
#header{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 75px;
	margin-bottom: 30px;
}
.title{
	text-align: center;
	display: inline-block;
}
.menu li, .sub li{
	display: inline;
	list-style-type: none;
}
#menu-container{
	text-align: center;
	display: inline-block;
	width: 600px;
}
.menu-element{
	border-radius: 2px 10px 0 0;
	text-align: left;
}
.menu-element div{
	padding-left: 0.5em;	
	padding-right: 2em;
}
.menu-element, .sub{
	height: 30px;
	line-height: 30px;
	vertical-align: middle;	
}
#menu-inicio{
	width: 15%;
	background: -moz-linear-gradient(#032f6f, #022E5F);
	background: -webkit-linear-gradient(#032f6f, #022E5F);
	float:left;
}
#menu-peliculas{
	width: 20%;

	background: -moz-linear-gradient(#00559F, #002A9D);
	background: -webkit-linear-gradient(#00559F, #002A9D);
	float:left;
}
#menu-perfil{
	width: 20%;	
	background: -moz-linear-gradient(#003760, #00275A);
	background: -webkit-linear-gradient(#003760, #00275A);
	float:left;	
}
#menu-camaradas{
	width: 23%;
	background: -moz-linear-gradient(#0070C0, #0053B5);
	background: -webkit-linear-gradient(#0070C0, #0053B5);
	float:left;
}
#menu-reco{
	width: 22%;
	background: -moz-linear-gradient(#0070C0, #0053B5);
	background: -webkit-linear-gradient(#0070C0, #0053B5);
	float:left;
}
	.sub{
		display: none;
		width: 100%;
		float:left;
		border-radius: 0 0 10px 2px;
	}
	.sub li{
		float: left;
		padding-left: 0.5em;
		padding-right: 3em;
	}
#submenu0{
	background: #022E5F;
}
#submenu1{
	background: #002A9D;
}
#submenu2{
	background: #00275A;
}
#submenu3{
	background: #0053B5;
}

#content-container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 500px;
}

#content-container p{
	margin-top: 0;
	padding-left: 0.5em;
}

.icon-social{
	padding-left: 0.3em;	
	display: inline-block;
}
.icon-social img{
	border-radius:0 30% 0 0;
	height: 25px;
}
#title-holder{
	display: inline-block;
	border-style: solid;
}
#social-icons{
	border-style: solid;
	display: inline-block;
	vertical-align: middle;
	float: right;
}

#fronton{
	border-style: solid;
	text-align: center;
	display: inline-block;
	width: 600px;
}