{% extends "califas/base.html" %}
{% load static %}
{% load get_range %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/images.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/movie-detail.css" %}">

{% endblock %}
{% block title %}CINESNOB{% endblock %}
{% block content %}	

{% if user.is_authenticated %}
	<h3>Hola, {{ user }}, te recomendamos</h3>
	<br>
	{% include "califas/show_movies.html" %}
{% else %}
	Patrañas!
{% endif %}
	

{% endblock %}
{% block imports %}
<script type="text/javascript" src="{% static "js/show_movie_detail.js" %}"></script>
{% endblock %}
