{% extends "califas/base.html" %}
{% load static %}

{% block head %}{% endblock %}
{% block title %}CINESNUB{% endblock %}
{% block content %}

{% if user.is_authenticated %}
	<h2>Cómo estás {{ user }}</h2>
{% else %}
	<div><img src="{% static "images/lordofrings1.jpg" %}"></div>
	<div><img src="{% static "images/birdman.jpg" %}"></div>
	<div><img src="{% static "images/psycho.jpg" %}"></div>
	<br />
{% endif %}

<h3>Te recomendamos</h3>
	<ul>
	{% if recommendations %}
		{% for recom in recommendations %}
		<li>{{ recom.movie_name }}</li>
		{% endfor %}
	{% else %}
		<li>Que vayas a tu cine favorito!</li>
	</ul>
	{% endif %}
	

<h3>Directores</h3>
{% if directors_list %}
	<ul>
	{% for director in directors_list %}
    	<li>
    	<a href="/califas/director/{{ director.slug }}">{{ director.director_name }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<strong>There are no directors present.</strong>
{% endif %}

{% endblock %}
{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />

{% endblock %}
