{% extends 'califas/base.html' %}
{% load static %}
{% load get_range %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/images.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/movie-detail.css" %}">
{% endblock %}
{% block title %}CINESNOB - MIS PEL&Iacute;CULAS{% endblock %}
{% block content %}

<h3>Mis Pel&iacute;culas:</h3><br/>

{% include "califas/show_movies.html" %}

{% endblock %}
{% block imports %}
<script type="text/javascript" src="{% static "js/show_movie_detail.js" %}"></script>

{% endblock %}