{% extends "califas/base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/style-nueva.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}">
{% endblock %}
{% block content %}

<div id="register-container">
	<div id="orientation"><h2>Nueva Pel&iacute;cula</h2></div>

	<div id="form-container">
		<form id="category_form" method="post" action="/califas/nueva/" enctype="multipart/form-data">
			{% csrf_token %}

			<p>pel&iacute;cula</p>
			{% for field in title_form.name %}
				{{ field.errors }}
				{{ field }}
			{% endfor %}
			
			<p>director</p>
			<input type="text" id="director_name" name="director_name"><br>

			{% for hidden in title_form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
				
			<p>a&ntilde;o</p>
			{% for field in title_form.year %}
				{{ field.errors }}
				{{ field }}
			{% endfor %}

			<br />
			
			<p>g&eacute;nero</p>
			{% for field in review_form.genre %}
				<div id="cont-opciones">
				{{ field.errors }}
				{{ field }}
			</div>
			{% endfor %}
			<br>
			<div id="your_rating_visible">
				<input type="checkbox" id='uno' onclick="starMeter(1);" ><label for="uno"></label>
				<input type="checkbox" id='dos' onclick="starMeter(2);"><label for="dos"></label>
				<input type="checkbox" id='tres' onclick="starMeter(3);"><label for="tres"></label>
				<input type="checkbox" id='cuatro' onclick="starMeter(4);"><label for="cuatro"></label>
				<input type="checkbox" id='cinco' onclick="starMeter(5);"><label for="cinco"></label>
			</div>

			<div id="your_rating">
				{% for check in review_form.rating %}
					{{ check }}
				{% endfor %}
			</div>

			<br>

			{% for field in review_form.poster %}
				{{ field }}
			{% endfor %}
			<br>
			{% for field in review_form.review %}
				{{ field.errors }}
				{{ field }}
			{% endfor %}
			<br>
			<input type="submit" name="submit" class="btn" value="Agregar">
		</form>
	</div>

	<div id="avatar-container">
	</div>

</div>
{% endblock %}
{% block imports %}
	<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "js/nueva.js" %}"></script>
	<script type="text/javascript" src="{% static "js/register.js" %}"></script>

{% endblock %}

