{% extends "califas/base.html" %}
{% load static %}
{% load get_range %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/movie-detail.css" %}" />
{% endblock %}
{% block title %}{% endblock %}
{% block content %}
<!--******************************************************************************-->
<div id="ficha">
{% if titles %}
	{% for titulo in titles %}
		<h2 id="rr">{{ titulo.movie_name }}</h2>
		<p id="ddd">
			Director: 	   <strong>{{ director_name }}</strong><br/>
			Año: 	  	   <strong>{{ titulo.year }}</strong><br />
			G&eacute;nero: <strong>{{ titulo.genre }}</strong><br/>
			<p id="rating">
			{% for a in titulo.rating|get_range %}
				{{ a }}
				<img src="{% static "images/star.png" %}" />
			{% endfor %}
			</p>
		</p>
		<br/>
		<div id="review">
			<p id="review">
				{{ titulo.review }}
			</p>
		</div>
</div>
<div id="poster-big"><img id="poster" src="{{ MEDIA_URL }}{{ titulo.poster }}" /></div>
	{% endfor %}
{% else %}
	<h1>Este señor no ha hecho ninguna película.</h1>
{% endif %}
{% endblock %}
{% block imports %}
<script type="text/javascript" src="{% static "js/nueva.js" %}"></script>
{% endblock %}